In [2]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

--2023-01-31 23:47:11--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230201%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230201T044712Z&X-Amz-Expires=300&X-Amz-Signature=807a4cadaad00f542dde7877d4abeb2856246c7a47f013a91f75dc30770739bd&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-31 23:47:12--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230201%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230201T044712Z&X-Amz-Expires=300&X-Amz-Signature=807a4cadaad00f542dde7877d4abeb2856246c7a47f013a91f75dc30770739bd&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘yellow_tripdata_2021-01.csv.gz’

yellow_tripdata_202 100%[===================>]  23,87M  5,46MB/s    in 4,9s

2023-01-31 23:47:18 (4,83 MB/s) - ‘yellow_tripdata_2021-01.csv.gz’ saved [25031880/25031880]

In [5]:
!head -n 100 yellow_tripdata_2021-01.csv > yellow_head.csv

In [6]:
!wc -l yellow_tripdata_2021-01.csv

1369766 yellow_tripdata_2021-01.csv

In [ ]:
https://github.com/DataTalksClub/data-engineering-zoomcamp/tree/main/week_1_basics_n_setup/2_docker_sql

In [1]:
import pandas as pd
pd.__version__

'1.3.4'

In [7]:
path_file = 'yellow_tripdata_2021-01.csv'
df = pd.read_csv(path_file, nrows = 100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
!head $path_file

VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8,3,0.5,0,0,0.3,11.8,2.5
1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,.20,1,N,238,151,2,3,0.5,0.5,0,0,0.3,4.3,0
1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42,0.5,0.5,8.65,0,0.3,51.95,0
1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29,0.5,0.5,6.05,0,0.3,36.35,0
2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0,0.3,24.36,2.5
1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8,3,0.5,2.35,0,0.3,14.15,2.5
1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16,0.5,0.5,0,0,0.3,17.3,0
1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18,3,0.5,0,0,0.3,21.8,2.5
1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0,0,0.3,28.8,0

In [11]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [12]:
# Change datetime
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [14]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [17]:
# Conversión de datos a esquema de definición de datos DDL
print(pd.io.sql.get_schema(df, 'yellow_taxidata', con = engine))

CREATE TABLE yellow_taxidata (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [35]:
# Se puede iterar las transacciones dividirlos en un interador
df_iter = pd.read_csv(path_file, iterator=True, chunksize=100, nrows=2000)
df_iter

In [19]:
df = next(df_iter)

In [36]:
len(df)

100

In [22]:
# Change datetime
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [23]:
# Creamos la tabla
df.head(n=0).to_sql(name='yellow_taxi_data', con= engine, if_exists='replace')

In [24]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 35.3 ms, sys: 0 ns, total: 35.3 ms
Wall time: 93.4 ms

In [37]:
from time import time

In [38]:
while True:
    t_start = time()
    df = next(df_iter)
    # Change    datetime
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print('Inserted another chunk-- took,  %.3f second' % (t_end - t_start))

Inserted another chunk-- took,  0.299 second
Inserted another chunk-- took,  0.117 second
Inserted another chunk-- took,  0.135 second
Inserted another chunk-- took,  0.115 second
Inserted another chunk-- took,  0.177 second
Inserted another chunk-- took,  0.073 second
Inserted another chunk-- took,  0.067 second
Inserted another chunk-- took,  0.071 second
Inserted another chunk-- took,  0.084 second
Inserted another chunk-- took,  0.051 second
Inserted another chunk-- took,  0.076 second
Inserted another chunk-- took,  0.086 second
Inserted another chunk-- took,  0.076 second
Inserted another chunk-- took,  0.075 second
Inserted another chunk-- took,  0.055 second
Inserted another chunk-- took,  0.059 second
Inserted another chunk-- took,  0.067 second
Inserted another chunk-- took,  0.076 second
Inserted another chunk-- took,  0.084 second
Inserted another chunk-- took,  0.100 second

StopIteration:

## With Sql Alchemy
``` bash
pip install sqlalchemy psycopg2-binary
```

In [40]:
from sqlalchemy import create_engine

In [41]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [42]:
engine.connect()

In [46]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema'

"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False
1,public,yellow_tripdata_trips,root,None,False,False,False,False

In [45]:
df = pd.read_csv(path_file, nrows=2000)
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df.to_sql(name='yellow_tripdata_trips', con=engine, index=False)